<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685122223165-d9d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685122223165-d9d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3</string>
	<key>API_KEY</key>
	<string>AIzaSyDarr2-Kf_XKunr0mooUGZf3Y5FPtQQlYU</string>
	<key>GCM_SENDER_ID</key>
	<string>685122223165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studyGroupCreation</string>
	<key>PROJECT_ID</key>
	<string>unibuddy-785ab</string>
	<key>STORAGE_BUCKET</key>
	<string>unibuddy-785ab.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685122223165:ios:48ff74bf66a37720353e54</string>
	<key>DATABASE_URL</key>
	<string>https://unibuddy-785ab-default-rtdb.firebaseio.com</string>
</dict>
</plist>
